{% extends "publicreboot/base.html" %}

{% block sidebar %}
	<div class="sideheader">
		<h2>Office Hours</h2>
	</div>
	<div class="sidecontent">
		<p>
		{% if holiday %}
		Reboot is closed for {{ holiday.name }} from {{ holiday.start_date }} to {{ holiday.end_date }}.
		{% else %}
		{% for hour in office_hours %}
		{% if hour.closed %}
		{{ hour.get_day }} Closed <br />
		{% else %}
		{{ hour.get_day }} {{ hour.start_time|date:"g:i" }}	- {{ hour.end_time|date:"g:i" }}<br />
		{% endif %}
		{% endfor %}
		{% endif %}
		{% if next_holiday %}
		Next closure of Reboot is for {{ next_holiday.name }} from {{ next_holiday.start_date }} to {{ next_holiday.end_date }}.
		{% endif %}
		</p>
	</div>
	<div class="sideheader">
		<h2>Location</h2>
	</div>
	<div class="sidecontent">
		<p>
		Room 218, Ferrier Building<br />
		McGill Downtown Campus
		</p>
	</div>
	<div class="sideheader">
		<h2>Email Us</h2>
	</div>
	<div class="sidecontent">
		<p>reboot(at)mcgilleus(dot)ca</p>
	</div>
{% endblock %}

{% block contents %}
{{ flatpage.content }}
{% endblock %}

{% block extra %}
<div id="partners">
	<h2>Our Partners</h2>
	<p>
	<a href="http://www.mcgill.ca/sustainability/">McGill Office of Sustainability</a>
	<a href="http://www.mcgill.ca/hwm/">McGill Waste Management</a>
<br />
	<a href="http://mcgilleus.ca/">McGill Engineering Undergraduate Society</a>
	<a href="http://www.cs.mcgill.ca/">McGill School of Computer Science</a>
</p>
	
</div>
{% endblock %}
